FORUM_URL=https://forum.shrimprefuge.be
FORUM_USERNAME=wokebot
FORUM_PASSWORD=wokebot123
INACTIVITY_YEARS=2
SEARCH_DELAY=6
GOOGLE_API_KEY=your_key_here
ALTER_PASSWORD=your_shared_alter_password_here
LIVE_MODE=false
LOOKBACK_HOURS=48
POLL_INTERVAL=300
